In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import gc
import pickle
import polars as pl
from sklearn.model_selection import KFold, GroupKFold, train_test_split
from xgboost import XGBClassifier
# from catboost import CatBoostClassifier, Pool
from sklearn.metrics import f1_score
from tqdm.notebook import tqdm
from collections import defaultdict
import warnings
from itertools import combinations

warnings.filterwarnings('ignore')
pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows", 200)

In [2]:
targets = pd.read_csv('./train_labels.csv')
targets['session'] = targets.session_id.apply(lambda x: int(x.split('_')[0]))
targets['q'] = targets.session_id.apply(lambda x: int(x.split('_')[-1][1:]))
print(targets.shape)

(424116, 4)

In [8]:
targets.head()

             session_id  correct            session  q
0  20090312431273200_q1        1  20090312431273200  1
1  20090312433251036_q1        0  20090312433251036  1
2  20090312455206810_q1        1  20090312455206810  1
3  20090313091715820_q1        0  20090313091715820  1
4  20090313571836404_q1        1  20090313571836404  1

In [13]:
correct_rate = targets.groupby('q')['correct'].sum()/23562
correct_rate

q
1     0.727485
2     0.978822
3     0.934004
4     0.798234
5     0.548256
6     0.775953
7     0.736058
8     0.617223
9     0.736270
10    0.505432
11    0.643621
12    0.862957
13    0.275104
14    0.707665
15    0.481029
16    0.734870
17    0.687802
18    0.950641
Name: correct, dtype: float64

In [16]:
for x in correct_rate:
    f1 = 2*x / (2*x+1-x)
    print(f1/2)

0.4211237500921308
0.49464879356568364
0.4829379622111523
0.4438989851309889
0.35411184210526314
0.43692197395148763
0.42398239823982403
0.3816559506626427
0.4240527988266927
0.3357390544388374
0.3915872646990472
0.46321904544936776
0.21575023299161228
0.4144050104384134
0.32479367262723524
0.42358783668077404
0.4075135787567894
0.48734796893017995